@import '../../assets/less/antd/theme.less';

.users {
  padding: 24px;
  background: #C6FFDD;
  background: #de6161;  
  background: -webkit-linear-gradient(to right, #2657eb, #de6161);
  background: linear-gradient(to right, #2657eb, #de6161); 

  .ant-row {
    min-height: calc(100vh - @layout-header-height - 48px);
  }

  &.md {
    padding: 62px;

    .ant-row {
      min-height: calc(100vh - @layout-header-height - 124px);

      .ant-list-item {
        padding: 8px 0;
      }
    }
  }
}
