.header.ant-layout-header {
  z-index: 1;
  width: 100%;
  display: flex;
  padding: 12px;
  position: fixed;
  align-items: center;
  justify-content: center;

  .logo {
    height: 100%;
  }

  &.md {
    padding: 12px 50px;
    justify-content: flex-start;
  }
}
